<h1 class="text-center">Editing Clocking</h1>

<%= render 'form', clocking: @clocking %>

<%= link_to 'Show', [@subject, @clocking] %> |
<%= link_to 'Back', subject_clockings_path(@subject) %>
</div>
