<% content_for :study_mate, "New Clocking" %>

<%= render 'form', clocking: @clocking %>

<span><%= link_to 'Back to All Clockings', clockings_path %></span> |
<span><%= link_to 'Create New Subject', new_subject_path %></span>
</div>
</div>
