<h1 class="text-center">New Clocking</h1>

<%= render 'form', clocking: @clocking %>

<span><%= link_to 'Back to All Clockings', clockings_path %></span> |
<span><%= link_to 'Create New Subject', new_subject_path %></span>
</div>
