<% content_for :h1, "SUBJECT CLOCKINGS" %>
<% content_for :study_mate, "SUBJECT CLOCKINGS" %>

<%= render 'subjects/top' %>
<div class="container-fluid">
  <div class="row content">

  <%= render 'subjects/nav' %>
    
    <div class="col-md-9">
      <%= render 'subjects/dashboard'%>
      <%= render 'subjects/clock' %>
    </div>
  </div>
</div>
