<% content_for :h1, "HOME PAGE" %>
<% content_for :study_mate, "HOME PAGE" %>

<div class="container-fluid">
  <div class="row content">    
    <div class="col-12 blue-bg vh-100">
      <div class="d-form m-auto pt-4 blue-bg">
        <%= render 'layouts/mobile_nav'%>
      </div>
    </div>
  </div>
</div>
