<h1>Select Subject for ypur Clocking</h1>

<p>Please select the Subject your Clocking belongs to</p>
<p>You may choose External if the clocking is not for a subject</p>

<p>Please Create the Subject your Clocking belongs to.</p>
<p>You may choose External if the clocking is not for a subject</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.title %></td>
        <td><%= link_to 'Select', subject %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
